.btn {
  margin: 1rem;
  width: 24vw;
  height: 6vh;
  border-radius: 0.5rem;
  
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 10rem;
  color: rgb(61, 43, 33);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #e5e5cb;
}

.btn:after {
  content: "";
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5e5cb;
  border-radius: 10rem;
  z-index: -2;
}

.btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(62, 48, 40);
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.btn:hover {
  color: #fff;
}

.btn:hover:before {
  width: 100%;
}
