:root {
  --bg-color: #e4bc85;
  --light-bg: #e5e4ca;
  --text-color: rgb(60, 42, 33);
}

* {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  margin: -2rem 0;
  display: flex;
}

.div1 {
  height: 100vh;
  width: 50vw;
  margin-left: 2rem;
  padding: 0 2rem 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bigCoffee img {
  height: 80%;
  width: 85%;
  overflow: hidden;
  float: right;
}
#bigCoffeeBag {
  animation: rotateBag 6s infinite;
}

.div2 {
  height: 100vh;
  width: 60vw;
  padding: 0 0 0 4rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.home-text {
    font-size: 2rem;
    text-align: justify;
    text-justify: inter-word;
}

.order-btn {
  margin: 4rem 0 0 0;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 1rem;
  background: var(--light-bg);

  transition-timing-function: ease;
  transition-duration: 400ms;
}

.order-btn:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, -5px);
  box-shadow: 0px 0.75px 0px 0px;
}

@keyframes rotateBag {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(0deg);
  }
}
