.user-details-form{
    color: var(--darkBrown);
}

.user-details-label{
    font-size: 1.2em;
}

.user-details-input{
    background: var(--lighterBg);
    padding: 1em;
    width: 10em;
    height: 1.9em;
    border: 2px solid var(--darkBrown);
    border-radius: 1em;
}

.login-auth-btn{
    border: 2px solid var(--darkBrown);
}

.invalid-details{
    color: red;
    font-size: 0.8em;
}