* {
  color: rgb(61, 43, 33);
}
.page {
  display: flex;
  border-radius: 1rem;
  margin-top: 1.5rem;
  background-color: #E5E5CB;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border: 2px solid black; */
}
.order-side {
  text-align: left;
  padding: 1rem;
  width: 30vw;
  /* border: 1px solid purple; */
}
h1 {
  margin: 2rem 0 1.5rem 1rem;
  font-size: 2rem;
  font-weight: bolder;
}
h2 {
  margin-left: 1rem;
  font-size: 1.4rem;
}

.coffee-type,
.coffee-amount {
  margin: 0.2rem 0 2rem 0;
}

form {
  display: flex;
  flex-direction: row;
}
label {
  align-content: left;
  padding-right: 2rem;
  margin-left: 1rem;
}
input {
  margin-left: 0.6rem;
}

.delivery-address {
  margin-top: 0.5rem;
  margin-left: 0rem;
  width: 23.8vw;
  height: 18vh;
  border-radius: 0.5rem;
  padding-left: 1rem;
  background-color: #e5e5cb;
}

.radio-btn {
  border: 1px solid rgb(61, 43, 33);
  background-color: #e5e5cb;
}

/* ----------------------- */

.cart-animation {
  /* border: 2px solid pink; */
  width: 50vw;
  height: 90vh;
}
