/* button{
    background: transparent;
    border: none;
} */

.login-page{
    margin-top: 30px;
    padding: 30px;
    width: 100vw;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.login-text{
    font-size: 30px;
    padding: 30px;
}